* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin: 15px 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  border-radius: 10px;
}

header {
  background: #204a6d;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
}

header a {
  color: #fff;
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  background: #204a6d;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  transform: scale(0.98);
}
.btn-back {
  background: #e8ecf7;
  color: #000;
  margin-bottom: 10px;
  border: solid 2px #204a6d;
}

.blog-posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-page {
  padding: 15px 30px;
}

.blog-title {
  color: #204a6d;
  margin: 10px 0;
}
.blog-date {
  background: #e8ecf7;
  margin-bottom: 20px;
  padding: 3px 10px;
}

.blog-body ul,
ol {
  font-size: 100%;
  font-weight: bold;
  margin: 20px 0 20px 35px;
}
li {
  padding: 10px 0;
}
.blog-body pre {
  background: #e8ecf7;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}
.blog-body h2 {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
}
