@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.g-box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  margin: 15px 0;
  line-height: 1.5;
}
h1 {
  font-size: 20px;
}
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/*  dangerously set html stylings: */
.blog-body ul,
ol {
  font-size: 100%;
  font-weight: bold;
  margin: 20px 0 20px 35px;
}
li {
  padding: 10px 0;
}
.blog-body pre {
  background: #e8ecf7;
  padding: 10px;
  margin: 20px 0;
  line-height: 2.3;
  overflow-x: scroll;
}

@media (max-width: 500px) {
  .g-media-q {
    grid-template-columns: 1fr;
  }
}
