@tailwind base;
@tailwind components;
@tailwind utilities;

/*  dangerously set html stylings: */
.blog-body ul,
p {
  padding: 15px;
}
h2 {
  text-decoration: underline;
  font-size: larger;
}
ol {
  font-size: 100%;
  font-weight: bold;
  margin: 20px 0 20px 35px;
  list-style-type: disc;
}
li {
  padding: 10px 0;
}
.blog-body pre {
  background: #e8ecf7;
  padding: 10px;
  margin: 20px 0;
  line-height: 2.3;
  overflow-x: scroll;
}
